<div>
  <div>
    <%= form_for(Character.new) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :player_class %>
      <%= f.text_field :player_class %>

      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

      <%= f.submit "Create Character", class: "" %>

    <% end %>
  </div>
</div>